{% if user.id %}
	<div class="panel panel-info">
		<div class="panel-body">
			<img src="{{ user.picture ?: "#{baseUrl()}/images/user.jpg" }}" alt="{{ user.email }}" width="50" height="50">
			<span>Logged in as <strong>{{ user.email }}</strong></span>
		</div>
		<div class="panel-footer">
			{% if not isFacebookConnected %}
				<button type="button" class="btn btn-primary btn-facebook-login" data-login-url="{{ urlFor('facebookLogin') }}">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Connect with Facebook
				</button>
			{% else %}
				<button type="button" class="btn btn-warning btn-facebook-disconnect" data-disconnect-url="{{ urlFor('facebookDisconnect') }}">
					<span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Disconnect Facebook
				</button>
			{% endif %}
			<button type="button" class="btn btn-success btn-logout" data-action="{{ urlFor('logout') }}">
				<span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout
			</button>
		</div>
	</div>
{% else %}
	<div class="panel panel-info">
		<div class="panel-footer">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".login-modal">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login
			</button>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".register-modal">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Register
			</button>
		</div>
	</div>
{% endif %}